@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Superhero Creator!</h1>
    <h4>Click on "Create A Hero" to create your own custom superhero</h4>
    <h4>Click on "View Heroes" to see the current list of superheroes</h4>
</div>

<img src="~/img/batman.jpg" class="img-fluid rounded mx-auto d-block" alt="...">
